[submodule "web/lichtblick"]
	path = web/lichtblick
	url = https://github.com/Lichtblick-Suite/lichtblick.git
[submodule "web/Eurobot-2025-Web"]
	path = web/Eurobot-2025-Web
	url = git@github.com:DIT-ROBOTICS/Eurobot-2025-Web.git
[submodule "app/esp_daemon"]
	path = app/esp_daemon
	url = git@github.com:DIT-ROBOTICS/ESP-Daemon.git
