<!DOCTYPE html>
<html manifest="eurobot2024.appcache">
<head>
	<title>Eurobot 2024</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	{% for i in range(6) %}
    	<form method="post" class="button" id="button_{{i}}">
		<button type="submit" name="button" value="button_{{i}}" class="{{ 'on' if state['button_' ~ i] else 'off' }}"></button>
	</form>
	{% endfor %}
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<div id="number-container">
		<span id="number-display"></span>
	</div>
</body>
</html>

