[Desktop Entry]
Type=Application
Name=DIT X
Exec=sh -c 'google-chrome --kiosk "http://localhost:3000"'
Icon=/home/ditrobotics/DIT-Scripts/dit/DIT_logo.png
Terminal=false
Comment=Launch DIT script

