[Desktop Entry]
Type=Application
Name=Debug Panel
Exec=sh -c 'chromium --kiosk "http://localhost:3000"'
Icon=/home/ditrobotics/DIT-Scripts/dit/ESP-Daemon.png
Terminal=false
Comment=Launch DIT script

