[Desktop Entry]
Type=Application
Name=Localization
Exec=/bin/bash -c "/home/share/scripts/localization.run"
Icon=utilities-terminal
Terminal=true
Comment=Launch DIT script

