[Desktop Entry]
Type=Application
Name=Main Program
Exec=/bin/bash -c "/home/share/scripts/main.sh"
Icon=/home/ditrobotics/DIT-Scripts/dit/icon/robot-confused.png
Terminal=true
Comment=Launch Main Program

