[Desktop Entry]
Type=Application
Name=Navigation
Exec=/bin/bash -c "/home/share/scripts/nav.sh"
Icon=/home/ditrobotics/DIT-Scripts/dit/icon/navigation.png
Terminal=true
Comment=Launch Navigation System

