[Desktop Entry]
Type=Application
Name=remove
Exec=/bin/bash -c "/home/share/scripts/remove.sh"
Icon=/home/ditrobotics/DIT-Scripts/dit/trash.png
Terminal=true
Comment=Launch DIT script

