[Desktop Entry]
Type=Application
Name=Eurobot
Exec=/bin/bash -c "/home/share/scripts/run.sh"
Icon=/home/ditrobotics/DIT-Scripts/dit/icon/cropped-eurobot_round_color.png
Terminal=true
Comment=Launch Eurobot Master Script

