[Desktop Entry]
Type=Application
Name=Yellow
Exec=/bin/bash -c "/home/share/scripts/yellow.run"
Icon=utilities-terminal
Terminal=true
Comment=Launch DIT script

